@model IEnumerable<CheapWare.WebApp.Models.Inventorys>

<div class="container">
    <h2 class="h2">Your Cart</h2>
    <div class="panel panel-primary">
        @foreach (var item in Model)
        {
            <div class="container-fluid panel-body">
                <div class="info top">
                    
                    <img class="img-responsive center-block" style="width:25%;height:25%;" src="@("https://cheapwareimages.blob.core.windows.net/images/" + item.Image)" />
                    <h4 class="h4" style="display:inline-block;">@Html.DisplayNameFor(model => item.Price):</h4>
                    &nbsp;<h4 class="h4" style="display:inline-block;">$@Html.DisplayFor(model => item.Price)</h4>
                    <br />
                    
                </div>
                

                <hr />
            </div>
        }
    </div>
</div>

