@model Cheapware.WebApp.Models.PowerSupplys

@{
    ViewData["Title"] = "Details";

}


<div class="container" style="padding:15px !important;">
    <div class="panel panel-primary" style="margin:5px;">
        <div class="container-fluid" style="padding: 15px !important;">
            <img class="img-responsive left" style="width:25%;" src="@("https://cheapwareimages.blob.core.windows.net/images/" + Model.Image)" />
            <h3 class="h3">@Html.DisplayFor(model => model.Name)</h3>
        </div>

        <div class="panel-heading">
            <h4 class="h4">Product Specs</h4>
            <hr />
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Wattage)
            :&nbsp;
            @Html.DisplayFor(model => model.Wattage)
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Modular)
            :&nbsp;
            @Html.DisplayFor(model => model.Modular)
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(model => model.Price)
            :&nbsp;
            $@Html.DisplayFor(model => model.Price)
            <br />


        </div>
        <div class="panel-body">
            <form asp-controller="Cart" asp-action="AddToCart" style="display:inline-block !important;">
                <input class="btn btn-info" type="button" value="Add to Cart" />
            </form>
            <button class="btn btn-primary"><a asp-controller="Inventorys" asp-action="Index">Back to List</a></button>
        </div>
    </div>
</div>

