@model CheapWare.WebApp.Models.Login

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<br />
<br />
<div class="row">
    <div class="col-md-4" >
        @{ 
            if(TempData.Peek("logged") != null)
            {
                <h3 class="h3">Wrong Username and Password Try Again</h3>

            }
        }
        <form asp-action="Login" class = "form-horizontal jumbotron">
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    Don't have an account? 
    <br/>
    
    <a asp-action="Register">Register</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
